.player-container {
  width: 400px;
  padding: 20px;
  margin: 10vh auto; /* Center vertically with 10vh margin from the top */
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .player-container {
    margin-top: 5vh; /* Adjust margin for smaller screens */
  }
}

.img-container {
  /* width: 350px;
  height: 350px; */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.channel-name {
  margin-top: 10px;
  font-size: 1.8rem;
  color: #333;
}

.player-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.control-icon {
  font-size: 2.2rem;
  color: #333;
  margin: 0 10px;
  cursor: pointer;
}

.control-icon:hover {
  color: #555;
}
